{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <section id="wallpaper-top-section" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <div class="slider" id="div-full-width">
          <ul class="slides" id="ul-full-width">
              {% for object in slider %}
            <li>
              <img src="{{ object.slider_img.url }}"> <!-- random image -->
              <div class="caption center-align">
                <p id="slider-top-text">{{ object.slider_caption }}</p>
                <p id="slider-top-midel">
                    {{ object.slider_description }}
                <br>
                    {{ object.slider_description2 }}
                </p>
                <p id="slider-top-button">{{ object.slider_button }}</p>
              </div>
            </li>
              {% endfor %}
            <!--<li>-->
              <!--<img src="{% static 'img/slide_3.png' %}"> &lt;!&ndash; random image &ndash;&gt;-->
              <!--<div class="caption center-align">-->
               <!--<p id="slider-top-text">Carpet Cleaning </p>-->
               <!--<p id="slider-top-midel">-->
                    <!--Care For-->
                <!--<br>-->
                    <!--Your Home-->
                <!--</p>-->
                <!--<p id="slider-top-button">Booking online </p>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li>-->
              <!--<img src="{% static 'img/slide_6.jpeg' %}"> &lt;!&ndash; random image &ndash;&gt;-->
              <!--<div class="caption center-align">-->
                <!--<p id="slider-top-text">Carpet Cleaning </p>-->
                <!--<p id="slider-top-midel">-->
                    <!--Your Experts In Carpet-->
                <!--<br>-->
                    <!--And Upholstery-->
                <!--</p>-->
                <!--<p id="slider-top-button">Booking online </p>-->
              <!--</div>-->
            <!--</li>-->
          </ul>
      </div>
    </section><!--             slider section            -->

    <section id="second-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/wall-2.png' %}">
    </section><!--             second wall section            -->

    <section id="welcome-section">
      <div class="container" id="welcome-section-width">
         <div class="row">
            <div class="col-sm-12">
               <di class="col-sm-6" id="wall-img-box">
                   <img src="{{ f_wall.fst_img.url }}" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
               </di>
               <div class="col-sm-6" >
                   <p id="welcome-title" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></p>
                   <p id="welcome-sub" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">{{ f_wall.fst_content }}</p>
                   <p id="welcome-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">{{ f_wall.fst_description }}</p>
                   <div class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                     <span id="commercial-button" >Commercial</span><span id="residential-button">Residential</span>
                   </div>
               </div>
            </div>
         </div>
      </div>
    </section><!--             welcome section            -->

    <section id="third-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/wall-3.png' %}">
    </section><!--             third wall section            -->

    <section id="services-section">
      <div class="container" id="services-width">
         <div class="row">
           <div id="services-text">
               <p id="services-title" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s"></p>
               <p id="services-des" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">Give Your Carpet A Deep Clean</p>
           </div>
            <div class="col-sm-12">
                {% for object in work %}
               <div class="col-sm-4" id="work-img-box" >
                  <img src="{{ object.work_img.url }}" id="work-img" class="img-responsive wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">
                  <div id="work-img-text">
                      <p class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">{{ object.work_title }}</p>
                  </div>
               </div>
                {% endfor %}
               <!--<div class="col-sm-4" id="work-img-box">-->
                  <!--<img src="{% static 'img/work2.jpg' %}" id="work-img" class="img-responsive wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">-->
                  <!--<div id="work-img-text">-->
                      <!--<p class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">Rinse</p>-->
                  <!--</div>-->
               <!--</div>-->
               <!--<div class="col-sm-4" id="work-img-box">-->
                  <!--<img src="{% static 'img/work3.jpg' %}" id="work-img" class="img-responsive wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">-->
                  <!--<div id="work-img-text">-->
                      <!--<p class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">Protect</p>-->
                  <!--</div>-->
               <!--</div>-->
            </div>
         </div>
         <div id="work-button-box">
                <p id="work-button-text" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s">View More services</p>
         </div>
      </div>
    </section><!--             Services section            -->

    <section id="CarpetServ-section" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <div class="container" id="CarpetServ-width">
          <div class="row">
            <div id="carpetServ-text-box">
             <p id="carpetServ-text-title"></p>
             <p id="carpetServ-text-subtitle" class="wow fadeIn img-responsive" data-wow-duration="1.5s" data-wow-delay=".5s">Is Your Source For Expert Carpet</p>
             <p id="carpetServ-text-des" class="wow fadeIn img-responsive" data-wow-duration="1.5s" data-wow-delay=".5s">We guarantee satisfaction. Just call us within 30 days of service and we’ll return to your home to remedy the problem.</p>
             <p id="carpetServ-text-button" class="wow fadeIn img-responsive" data-wow-duration="1.5s" data-wow-delay=".5s"><i class="fas fa-phone-volume"></i>1800 1234 5678</p>
            </div>
          </div>
      </div>
    </section><!--             CarpetServ section            -->

    <section id="process-section">
      <div class="container" id="services-width">
         <div class="row">
           <div id="services-text">
               <p id="services-title" class="steps-class wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></p>
               <p id="services-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Our Process</p>
           </div>
            <div class="col-sm-12">
               <div class="col-sm-3" id="work-img-box">
                 <div>
                   <i class="fab fa-bitbucket wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></i>
                 </div>
                  <p id="number-circle" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">1</p>
                  <p id="number-text" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Deep Vacuuming</p>
               </div>
               <div class="col-sm-3" id="work-img-box">
                 <div>
                  <i class="fas fa-prescription-bottle wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></i>
                 </div>
                  <p id="number-circle" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">2</p>
                  <p id="number-text" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Stop & Stain Removal</p>
               </div>
               <div class="col-sm-3" id="work-img-box">
                 <div>
                  <i class="fas fa-coins wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></i>
                 </div>
                  <p id="number-circle" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">3</p>
                  <p id="number-text" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Hot Water Extraction</p>
               </div>
               <div class="col-sm-3" id="work-img-box">
                 <div>
                  <i class="fas fa-gavel wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></i>
                 </div>
                  <p id="number-circle" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">4</p>
                  <p id="number-text" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Add Protection</p>
               </div>
            </div>
         </div>
      </div>
    </section><!--             process section            -->

    <section id="third-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/wall-3.png' %}">
    </section><!--             third wall section            -->

    <section id="video-section">
      <div class="container" id="services-width">
        <div class="row">
          <div class="col-sm-12">
             <div class="col-sm-6" id="video-text-box">
                  <p id="services-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Video</p>
                  <i class="fas fa-play-circle wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></i>
                  <img src="{% static 'img/video.jpg' %}" id="video-img" class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".5s">
             </div>
             <div class="col-sm-6">
                  <p id="services-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Cleaning FAQ</p>
                  <div id="video-text-row" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                    <span><i class="far fa-window-minimize"></i><a id="video-text-row-text">What method do you use ?</a></span>
                  </div>
                  <div id="video-text-row" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                    <span><i class="far fa-window-minimize"></i><a id="video-text-row-text">What do you consider ?</a></span>
                  </div>
                  <div id="video-text-row" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                    <span><i class="far fa-window-minimize"></i><a id="video-text-row-text">What use for cleaning?</a></span>
                  </div>
                  <div id="video-text-row" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                    <span><i class="far fa-window-minimize"></i><a id="video-text-row-text">What make it cleaning?</a></span>
                  </div>
             </div>
          </div>
        </div>
      </div>
    </section><!--             video section            -->

    <section id="peopleSay-section" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <div class="container" id="services-width">
        <div class="row">
           <div class="col-sm-8">
              <div class="textSlider" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                  {% for object in say %}
                  <p class="slidesParttext">{{ object.people_say }}</p>
                  {% endfor %}
                  <!--<p class="slidesParttext">“It’s amazing what two kids can do to a carpet… spills & spots everywhere! I had no idea it could get this clean.” ― Bernard M. Baruch</p>-->
                  <!--<p class="slidesParttext">“To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.” ― Ralph Waldo Emerson</p>-->
              </div>
              <div id="peopleSay-button-box" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
                  <p id="peopleSay-button">See More Testimonials</p>
              </div>
           </div>
        </div>
      </div>
    </section><!--             peoplesay section            -->

    <section id="price-section" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <div class="container" id="price-container-width">
        <div class="row">
          <div id="services-text">
               <p id="price-title-list" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></p>
               <p id="services-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Service Plans</p>
           </div>
           <div class="col-sm-12">
               {% for object in price %}
               {% if not forloop.counter|divisibleby:2 %}
              <div class="col-sm-4 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="price-box">
                <div id="price-box-top">
                 <span id="price-number">$2.00</span><span id="price-text">/m</span>
                 <p id="price-title">Residential</p>
                </div>
                <div id="price-box-bottom">
                   <p id="price-bottom-des">Cleaning of all carpet types with the use of chemicals.</p>
                   <p id="price-bottom-button">Order Now</p>
                </div>
              </div>
               {% endif %}
               {% if forloop.counter|divisibleby:2 %}
              <div class="col-sm-4 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="price-box-midel">
                <div id="price-box-top-midel">
                 <span id="price-number-midel">$2.00</span><span id="price-text">/m</span>
                 <p id="price-title">Residential</p>
                </div>
                <div id="price-box-bottom">
                   <p id="price-bottom-des">Cleaning of all carpet types with the use of chemicals.</p>
                   <p id="price-bottom-button">Order Now</p>
                </div>
              </div>
               {% endif %}
               {% endfor %}
              <!--<div class="col-sm-4 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="price-box">-->
                <!--<div id="price-box-top">-->
                 <!--<span id="price-number">$2.00</span><span id="price-text">/m</span>-->
                 <!--<p id="price-title">Residential</p>-->
                <!--</div>-->
                <!--<div id="price-box-bottom">-->
                   <!--<p id="price-bottom-des">Cleaning of all carpet types with the use of chemicals.</p>-->
                   <!--<p id="price-bottom-button">Order Now</p>-->
                <!--</div>-->
              <!--</div>-->
           </div>
        </div>
      </div>
    </section><!--             price section            -->

    <section id="third-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/wall-3.png' %}">
    </section><!--             third wall section            -->

    <section id="blog-section">
       <div class="container" id="price-container-width">
         <div class="row">
            <div id="services-text">
               <p id="blog-title-list" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s"></p>
               <p id="services-des" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">Latest Posts</p>
           </div>
            <div class="col-sm-12">
                {% for object in blog %}
                <div class="col-sm-6 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-boxs">
                     <img src="{{ object.foot_pth.url }}" class="img-responsive" id="blog-images">
                     <div id="blog-text-box">
                       <p id="blog-text-boxs-title">{{ object.feature }}</p>
                       <span><i class="fas fa-calendar-alt"></i><a id="blog-date">{{ object.date }}</a></span>
                       <span><i class="far fa-comment"></i><a id="blog-comment">{{ object.comment }} comments</a></span>
                     </div>
                </div>
                {% endfor %}
                <!--<div class="col-sm-6 wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s" id="blog-boxs">-->
                     <!--<img src="{% static 'img/blog2.jpg' %}" class="img-responsive" id="blog-images">-->
                     <!--<div id="blog-text-box">-->
                       <!--<p id="blog-text-boxs-title">Dry cleaning vs steam cleaning – which is best?</p>-->
                       <!--<span><i class="fas fa-calendar-alt"></i><a id="blog-date">10 January 2017</a></span>-->
                       <!--<span><i class="far fa-comment"></i><a id="blog-comment">0 Comments</a></span>-->
                     <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="work-button-box">
                <p id="work-button-text" class="wow fadeIn img-responsive" data-wow-duration="1.1s" data-wow-delay=".5s" style="visibility: visible;animation-duration: 1.1s; animation-delay: 0.5s; animation-name: fadeIn;">View More posts</p>
            </div>
         </div>
       </div>
    </section><!--             Blog section            -->

    <section id="foot-wall" class="wow fadeIn" data-wow-duration="1.1s" data-wow-delay=".5s">
      <img src="{% static 'img/footer.png' %}">
    </section><!--             third wall section            -->

{% endblock %}